<!--
-->
<script type="text/template" class="chooseTemp" >
    <div id="mask"> </div>
	<div class="choose popup">
		<h3 class="boderTopRed">
			WHO’S THE LUCKY ONE
		</h3>
		<span class="close icon j_close">X</span>
		<ul class="fansUl">
			<li>
				<span class="left"></span>
				<span class="center">
					<span class="name">Erin<span class="icon facebook"> </span></span>
					<span class="details">Erin will buy you a drink!</span>
				</span>
				<span class="right">
					Fan rate<span class="rate"> 98% </span>
				</span>
				<!-- <div class="ctn">
					<div class="maskPink"></div>
					<button class="choosed" >Let’s go together!</button>
				</div> -->
			</li>
			<li>
				<span class="left"></span>
				<span class="center">
					<span class="name">Sophia <span class="icon"> </span></span>
					<span class="details">Sophia drive you to the event!</span>
				</span>
				<span class="right">
					Fan rate<span class="rate"> 98% </span>
				</span>
			</li>
			<li>
				<span class="left"></span>
				<span class="center">
					<span class="name">leah <span class="icon"> </span></span>
					<span class="details scam">Hi, I’m new in town. Big fan of baseball.</span>
				</span>
				<span class="right">
					Fan rate<span class="rate"> 96% </span>
				</span>
				<!-- <div class="cont hide">
					<div class="mask"> </div>
					<button class="together"> </button>
				</div> -->
			</li>
			<li>
				<span class="left"></span>
				<span class="center">
					<span class="name">Michael Knight <span class="icon facebook"> </span></span>
					<span class="details">I'd like to have fun together with you!</span>
				</span>
				<span class="right">
					Fan rate<span class="rate"> 95% </span>
				</span>
			</li>
			<li>
				<span class="left"></span>
				<span class="center">
					<span class="name">Rudy <span class="icon"> </span></span>
					<span class="details">Rudy will buy you a drink!</span>
				</span>
				<span class="right">
					Fan rate<span class="rate"> 98% </span>
				</span>
			</li>
		</ul>
	</div>
</script>

<script type="text/template" class="maskPinkTemp" >
	<div class="ctn">
		<div class="maskPink"></div>
		<button class="choosed" >Let's go together!</button>
	</div>
</script>