<!--
-->
<script type="text/template" class="shareTemp" >
	<div id="mask"> </div>
	<div class="share popup">
		<h3 class="boderTopRed">
			SHARE THE JOY
		</h3>
		<span class="close icon j_close">X</span>
		<div class="shareDetails">
			<p class="message">
				Hi Michael Knight,<br />
				Let’s meet at Bogart’s Lounge & Tech Pub, 6pm. We can have a drink before the game start.<br />
				James
			</p>
			<img src="./images/joy.png" rel="sharing" />
		</div>
		<button class="btn send j_send"> Send </button>
	</div>
</script>