<!--
-->
<script type="text/template" class="whymeTemp" >
    <style>
    </style>
    <div id="mask"> </div>
	<div class="receive popup">
		<div>
			<h3 class="boderTopRed">
				WHY ME
			</h3>
			<span class="close icon j_close">X</span>
			<h4>Tell the ticket owner why they should pick you!</h4>

		</div>
		
		<ul class="shairInfoUl">
			<li><input /> Share my Facebook info to let he know me </li>
			<li><input/> Share my StubHub event to prove I’m a real fan </li>
			<li class="text">
				<h4>Make it personal!</h4>
				<textarea class="j_personal" rows="6" cols="60">Drop a few line to make it personal…</textarea>
			</li>
			<li><input/> I will buy you a drink </li>
			<li><input/> I can drive you to the event </li>
			<li><input/> I will pay your dinner </li>
		</ul>
		<button class="btn why j_why"> Submit </button>
	</div>
</script>